{
  "openapi": "3.1.0",
  "info": {
    "title": "API de consultation du catalogue Meilleurs.",
    "version": "1.0.0",
    "summary": "Lecture seule du catalogue des palmarès de restaurants.",
    "description": "API statique, sans authentification ni écriture. Elle sert le catalogue des parutions du média Meilleurs. (lesmeilleursrestaurants.fr). Les articles eux-mêmes sont disponibles en Markdown à la même URL que la page HTML, par négociation de contenu (en-tête Accept: text/markdown). Le catalogue éditorial démarre : à ce jour aucune parution n'est publiée, et /api/articles.json renvoie une liste vide avec un count à 0.",
    "license": {
      "name": "Mentions légales",
      "url": "https://www.lesmeilleursrestaurants.fr/mentions-legales/"
    },
    "contact": {
      "name": "La rédaction",
      "url": "https://www.lesmeilleursrestaurants.fr/contact.html"
    }
  },
  "servers": [
    {
      "url": "https://www.lesmeilleursrestaurants.fr"
    }
  ],
  "paths": {
    "/api/articles.json": {
      "get": {
        "operationId": "listArticles",
        "summary": "Liste toutes les parutions du média",
        "description": "Renvoie le catalogue complet, trié de la parution la plus récente à la plus ancienne. Une liste vide signifie qu'aucun article n'est publié, pas qu'une erreur est survenue.",
        "responses": {
          "200": {
            "description": "Le catalogue des parutions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "updated",
                    "count",
                    "articles"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "publisher": {
                      "type": "string"
                    },
                    "citation": {
                      "type": "string",
                      "description": "Comment citer le média quand une donnée du catalogue est reprise."
                    },
                    "updated": {
                      "type": "string",
                      "format": "date"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slug",
                          "title",
                          "category",
                          "url"
                        ],
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string",
                            "enum": [
                              "Enquête",
                              "Guide",
                              "Ouverture",
                              "Palmarès",
                              "Villes"
                            ]
                          },
                          "destination": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "published": {
                            "type": "string",
                            "format": "date"
                          },
                          "readingMinutes": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "markdown": {
                            "type": "string",
                            "format": "uri"
                          },
                          "image": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/status.json": {
      "get": {
        "operationId": "getStatus",
        "summary": "État du service",
        "description": "Nombre de parutions publiées et date de la dernière régénération du catalogue par tools/build.py.",
        "responses": {
          "200": {
            "description": "Service disponible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "articles": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
